.Visualizer {
    border-radius: 2rem;
    border-style: solid;
    border-color: white;
    color: rgb(0, 0, 0);
    width: 50%;
    margin-right:auto;
    background: white;
    margin-left: 1rem;
    padding: 2rem;
}