.Visualizer {

    &__Box{
        border-radius: 2rem;
        border-style: solid;
        border-color: white;
        color: rgb(0, 0, 0);
        width: 50%;
        margin-right:auto;
        background: white;
        margin-left: 1rem;
        padding: 2rem;
    }

    &__Bars{
        display: flex;
        align-items:flex-end;
        margin: 20px;
        margin-bottom: 0px;
        outline-color: white;
        outline-style: solid;
    }

}