.Bar {
    background-color: lightgrey;
    width: 50px;
    height: 300px;
    z-index: 5;
    padding-top: 4px;
    margin-left: auto;
    margin-right: auto;
    box-shadow:0px 0px 0px 2px white inset;
    text-align: center;
    font-size: small;
}